<p>
    <strong>Content:</strong>
    <%= @meeting.content %>
</p>
<% if current_user?(@meeting.user) %>
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to 'Back', meetings_path %>